.vs/Controll All/v15/Server/sqlite3/storage.ide-wal
.vs/Controll All/v15/Server/sqlite3/storage.ide-shm
.vs/Controll All/v15/Server/sqlite3/storage.ide
.vs/Controll All/v15/Server/sqlite3/db.lock
Controll All/obj/Debug/en-150/Controll All.resources.dll
Controll All/obj/Debug/Controll All.pdb
.vs/Controll All/v15/.suo
